.transition-wrapper {
  position: relative;
  z-index: 1;
  height: min-content;
  width: 100%;
}

.transition-wrapper .transition-item {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}


/* Enter */
.detail-page {
  overflow: auto;
  box-sizing: border-box;
  /* background-color: #03a9f4; */
  transition: transform 0.5s, opacity 0.5s;
}

.detail-page.transition-appear {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.detail-page.transition-appear.transition-appear-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave.transition-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}


