

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 250px;
}

.survey-button {
  transition: all 0.05s linear;
}
.survey-button:hover, .survey-button:active {
  transform: scale(0.95);
}
